<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/images/favicon.ico" type="image/ico" />
<title>{{title}}</title>
<link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- link href="/vendors/fontawesome/css/all.min.css" rel="stylesheet"-->
<link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
<link href=/css/minty_sensor_server.css rel="stylesheet">
<link href="/vendors/material-design-icons/iconfont/material-icons.css" rel="stylesheet" />
