<!DOCTYPE html>
<html lang="{{i18n "html.lang"}}">
<head>
    {{#block "head"}}
        {{>layout/head_common}}
    {{/block}}
    {{#block "head_common"}}
        {{>layout/head_common}}
    {{/block}}
    {{#block "head_stylesheet_page"}}
        <!-- StyleSheet for each page -->
    {{/block}}
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      {{#block "sideMenu"}}
        {{>layout/side_menu}}
      {{/block}}
      {{#block "topNavigation"}}
        {{>layout/top_navigation}}
      {{/block}}
      {{#block "content"}}
        <!-- Content -->
      {{/block}}
      {{#block "footer"}}
        {{>layout/footer}}
      {{/block}}
    </div>
  </div>
  {{#block "hiddenContent"}}
  {{/block}}
  {{#block "commonScripts"}}
    {{>layout/scripts}}
  {{/block}}
  {{#block "scripts"}}
      <!-- scripts for each page -->
  {{/block}}
</body>
</html>