{{#partial "head_stylesheet_page"}}
    <!-- jQuery custom content scroller -->
    <link href="/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
{{/partial}}
{{#partial "content"}}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Fixed Footer <small> Just add class <strong>footer_fixed</strong></small></h3>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{{/partial}}
{{#partial "scripts"}}
    <!-- jQuery custom content scroller -->
    <script src="/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
 
    <script src="/js/minty_sensor_server.js"></script>{{/partial}}
{{>layout/layout}}
