{{#partial "head_stylesheet_page"}}
{{/partial}}
{{#partial "content"}}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Multilevel Menu <small> Page to demonstrate multilevel menu</small></h3>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{{/partial}}
{{#partial "scripts"}}
 
    <script src="/js/minty_sensor_server.js"></script>{{/partial}}
{{>layout/layout}}
