body {
    background: #34495e;
    color: #fff;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #fff;
    outline: none;
}

a:hover,
a:focus {
    color: #red;
    outline: none;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.content {
    padding: 4em 2em;
    max-width: 1200px;
    margin: 0 auto;
}

.hamburger {
    font-size: 20px;
}

.block {
    float: left;
    padding: 1em 3em;
}

.block-40 {
    width: 40%;
}

.block-60 {
    width: 60%;
}

.block p {
    margin: 0;
    padding: 0 1em 0.6em;
    font-size: 1.8em;
    line-height: 1.5;
}

@media screen and (max-width: 69em) {
    .block {
        float: none;
        width: 100% !important;
        padding: 1em;
    }
}

@media screen and (max-width: 25em) {

    body {
        font-size: 80%;
    }

    .codrops-icon span {
        display: none;
    }

}
