@import "@material/theme/color-palette";
@import "@material/theme/variables";

.fa-bars {
    font-size: 2em;
}

#hamburger {
    transition: all 1s ease !important;
    filter: alpha(opacity=1);
    opacity: 1;
    position: fixed !important;
    left: 10px;
    top: 10px;
    z-index: 9999;
}

.snoozing {
    transition: all 1s ease !important;
    //    filter: alpha(opacity=0.5);
    //    opacity: 0.5;
}

.sleeping {
    //    transition: all 1s ease !important;
    filter: alpha(opacity=0);
    opacity: 0;
}

.hamburger-container {
    transition: all 1s ease-in-out !important;
    position: absolute;
}

.nav-open {
    position: relative;
    transform: translate3d(189px, 27px, 16px) scale3d(0.7, 0.7, 1);
    transition: all 1s ease-in-out;

    i::before {
        content: '\f00d';
        color: $mdc-theme-on-secondary !important;
        transition: all 1s ease-in-out;
    }
}

.pulse {
    display: block;
    border-radius: 100%;
    background: $mdc-theme-primary;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
}



@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        filter: alpha(opacity=0.4);
        opacity: 0.4;
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            filter: alpha(opacity=0);
    opacity: 0;
    }
    

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            filter: alpha(opacity=0);
    opacity: 0;
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        filter: alpha(opacity=0.4);
        opacity: 0.4;
        
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            filter: alpha(opacity=0);
    opacity: 0;
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            filter: alpha(opacity=0);
    opacity: 0;
    }
}
