.fa-bars {
    font-size: 2em;
}

#hamburger {
    transition: all 1s ease !important;
    filter: alpha(opacity=1);
    opacity: 1;
    position: fixed !important;
    left: 10px;
    top: 10px;
    cursor:pointer;
}

@keyframes pulse {
    100% { transform: scale(1.1) }
    0% { transform: scale(0.9) } 
  }

.snoozing {
    transition: all 2s ease !important;
    opacity: 0.5;
}

.sleeping {
    transition: all 2s ease !important;
    opacity: 0;
}

.hamburger-container {
    transition: all 1s ease-in-out !important;
    position: absolute;
    z-index: 9999;
}

.smui-fab--color-primary {
    color: var(--theme-on-primary) !important;
    background-color: var(--theme-primary) !important;
    &:hover{
        animation: pulse 1s alternate infinite;
    }
}

.nav-open {
    position: relative;
    transform: translate3d(189px, 27px, 16px) scale3d(0.7, 0.7, 1);
    transition: all 1s ease-in-out;
    i::before {
        content: '\f00d';
        color: var(--theme-on-primary) !important;
        transition: all 1s ease-in-out;
    }
}
