.fad.fa-fw:before,
.fad.fa-stack-1x:before,
.fad.fa-stack-2x:before {
	left: inherit;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.mdc-drawer-app-content {
	width: 100%;
}
.mdc-drawer .mdc-list-item .mdc-list-item__graphic {
	transition: all 1.0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transition: -webkit-transform all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
	transform: translate3d(0px, 0px, 0px) rotateY(-55deg) scale3d(1.2, 1.2, 1.5);
	transition: all 1.0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transition: -webkit-transform all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mdc-list-itm,
.mdc-list-itm > i {
	perspective: 300px;
	-webkit-perspective: 300px;
}

.mdc-drawer {
	background-color: var(--theme-surface);
	height: 100vh;
}
// :global()
// @keyframes pulse {
// 	100% { transform: scale(1.1); }
// }
// animation: pulse 0.4s alternate infinite;

.mdc-drawer .mdc-list-item {
	color: var(--theme-on-surface);
	&:hover {
		color: var(--theme-primary);
	}
}

.mdc-list-item--activated {
	color: var(--theme-on-secondary) !important;
	background-color: var(--theme-secondary) !important;
}


* :global(.app-content) {

	all:unset;
	flex: auto;
	overflow: auto;
	width: 100%;
	position: relative;
	flex-grow: 1;
	border:2px dashed red;
}

aside {
	height: 100%;
	width: 100%;
}

.drawer-container {
	width: 100%;
	height: 100%;
	perspective: 1500px;
	-webkit-perspective: 1500px;
	perspective-origin: 0% 50%;
	margin: 0px !important;
	max-width: none !important;
	position: relative;
	display: flex;
	border: 1px solid rgba(0, 0, 0, .1);
	overflow: hidden;
	z-index: 0;
}


.main-container-open {
	height:100vh;
	transition: height 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main-container-closed {
	height:100%;
}

.open {
	border: 2px solid rgba(0, 0, 0, 0.5) !important;
	border-radius: 10px;
	transform: translate3d(90px, 9px, -156px) rotateY(-51deg) scale3d(0.8, 0.8, 0.9);
	transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transition: -webkit-transform all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	overflow: hidden;
	-moz-box-shadow: 25px 25px 35px rgba(200, 200, 200, 0.5);
	-webkit-box-shadow: 25px 25px 35px rgba(200, 200, 200, 0.5);
	box-shadow: 25px 25px 35px rgba(200, 200, 200, 0.5);
}

.close {
	border: 0px solid rgba(0, 0, 0, 0) !important;
	transform: translate3d(0, 0, 0) rotateY(0) scale3d(1, 1, 1);
	transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transition: -webkit-transform all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	border: 0px solid tra !important;
	box-shadow: none;
}
