  @import "@material/theme/variables";


  .fad.fa-fw:before,
  .fad.fa-stack-1x:before,
  .fad.fa-stack-2x:before {
      left: inherit;
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }

  .mdc-drawer .mdc-list-item .mdc-list-item__graphic {
      transition: all 1.0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -webkit-transition: -webkit-transform all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
      transform: translate3d(0px, 0px, 0px) rotateY(-55deg) scale3d(1.2, 1.2, 1.5);
      transition: all 1.0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -webkit-transition: -webkit-transform all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .mdc-list-itm {
      perspective: 300px;
      -webkit-perspective: 300px;
  }
