{{#partial "content"}}
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form id="signupForm" method="post">
                    <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
                    <input type="hidden" id="name" name="name" value=""/>
                    <h1>Create Account</h1>
                    <div>
                        <input type="text" id="userId" name="userId" class="form-control" placeholder="Username" required=""/>
                    </div>
                    <div>
                        <input value="mintymods@gmail.com" type="email" id="email" name="email" class="form-control" placeholder="Email" required=""/>
                    </div>
                    <div>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required=""/>
                    </div>
                    <div>
                        <button type="submit" id="submitButton" class="btn btn-default submit">Submit</button>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">Already a member ?
                            <a href="/login/form" class="to_register"> Log in </a>
                        </p>

                        <div class="clearfix"></div>
                        <br />
                        {{>layout_login/copyright}}
                    </div>
                </form>
            </section>
        </div>
    </div>
{{/partial}}

{{#partial "scripts"}}
<script>
    $(document).ready(function() {
        $("#userId").focus();
    });

    $("#signupForm").submit(function(e) {
        e.preventDefault();
        $("#name").val($("#userId").val());
        $(".login_error").remove();
        var params = $("#signupForm").serialize();

        $.ajax({
            url: 'signup',
            type: 'post',
            data: params,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            dataType: 'json',
            success: function(response) {
                if (response.success) {
                    alert(response.message);
                    location.href = "/views/admin";
                } else {
                    $.each(response.errors, function(key, value) {
                        $("input[name='" + key + "']")
                                .not(":hidden")
                                .parent()
                                .append("<div class='login_error'>" + value + "</div>");
                    });
                }
            },
            error: function (e) {
                console.log("error result : " + e.responseText);
                var response = JSON.parse(e.responseText);
                var errorMessage = "<div class='login_error'>" + response.status + " " + response.error + "</div>";
                $("#submitButton").parent().prepend(errorMessage);
            }
        });
    });
</script>
{{/partial}}
{{>layout_login/layout}}
