$mdc-theme-primary: #f51d9b;
$mdc-theme-on-primary: #fff;
$mdc-theme-secondary: #bd006d;
$mdc-theme-on-secondary: #fff;
$mdc-theme-error: #d13d58;
$mdc-theme-on-error: rgb(253, 253, 253);
$mdc-theme-surface: #fff;
$mdc-theme-on-surface: #000;
$mdc-theme-background: #fff;
$mdc-theme-on-background: #000;

:root {
	--theme-primary: #{$mdc-theme-primary};
	--theme-on-primary: #{$mdc-theme-on-primary};
	--theme-secondary: #{$mdc-theme-secondary};
	--theme-on-secondary: #{$mdc-theme-on-secondary};
	--theme-error: #{$mdc-theme-error};
	--theme-on-error: #{$mdc-theme-on-error};
	--theme-surface: #{$mdc-theme-surface};
	--theme-on-surface: #{$mdc-theme-on-surface};
	--theme-background: #{$mdc-theme-background};
	--theme-on-background: #{$mdc-theme-on-background};
	--theme-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

// @media (prefers-color-scheme: dark) {
// 	:root {
// 		--theme-on-surface: #{$mdc-theme-surface};
// 		--theme-surface: #{$mdc-theme-on-surface};
// 		--theme-on-background: #{$mdc-theme-background};
// 		--theme-background: #{$mdc-theme-on-background};
// 		--theme-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// 	}
// }
