  @import "@material/theme/variables";

  .row {
      display: flex !important;
      background-color: $mdc-theme-secondary !important;
      color: $mdc-theme-on-secondary !important;
      flex-direction: row !important;
  }

  .column {
      padding: 10px;
      flex: 50% !important;
      border: 2px dashed green !important;

  }


  .mdc-drawer-app-content {
      width: inherit;
  }

  .wrapper {
      display: flex;
  }

  .sensors {
      width: 50%;
  }

  .readings {
      width: 50%;
  }
