@import "@material/image-list/mixins";

.my-image-list-masonry {
    @include mdc-image-list-masonry-columns(3);
    @include mdc-image-list-shape-radius(10px);

}

// @media (max-width: 599px) {
//     .my-image-list-masonry {
//         @include mdc-image-list-masonry-columns(2);
//     }
// }

// @media (max-width: 1599px) {
//     .my-image-list-masonry {
//         @include mdc-image-list-masonry-columns(1);
//     }
// }

//@media only screen and (max-width: 80em) {
//    .my-image-list-masonry {
//        @include mdc-image-list-masonry-columns(24);
//    }
//}
//
//@media only screen and (max-width: 60em) {
//    .my-image-list-masonry {
//        @include mdc-image-list-masonry-columns(12);
//    }
//}
//
//@media only screen and (max-width: 40em) {
//    .my-image-list-masonry {
//        @include mdc-image-list-masonry-columns(6);
//    }
//}
//
//@media only screen and (max-width: 20em) {
//    .my-image-list-masonry {
//        @include mdc-image-list-masonry-columns(2);
//    }
//}
 .card-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    min-width: 380px;
    background-color: #f8f8f8;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .card-container.short {
    min-height: 200px;
  }

  * :global(.card-media-16x9) {
    background-image: url(https://via.placeholder.com/320x180.png?text=16x9);
  }

  * :global(.card-media-square) {
    background-image: url(https://via.placeholder.com/320x320.png?text=square);
  }